@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  font-family: 'Jeju Myeongjo', serif;
}
main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 394px;
  border: 1px solid #eee;
  background-color: #fff;
  overflow: hidden;
}
.mainSwiper,
.photoSwiper,
.swiper-slide {
  width: 100%;
  height: 100%;
}

.mainSwiper .slide01 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.mainSwiper .slide01 .main-background {
  position: absolute;
  width: 394px;
  height: 100%;
  background: url(./imgs/main-background.png) no-repeat, #e9eef1 50% / cover;
  z-index: -1;
}

.mainSwiper .slide01 .main-content-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  padding-top: 77px;
}

.mainSwiper .slide01 .title-wrap {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.mainSwiper .slide01 .title-wrap p {
  color: #cacaca;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: Cormorant SC;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 16px;
}

.mainSwiper .slide01 .invite-text {
  margin-top: 45px;
  color: #555;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.mainSwiper .slide01 .name-title-wrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mainSwiper .slide01 .name-title-wrap .name-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainSwiper .slide01 .name-title-wrap .name-box .name-sub {
  margin-bottom: 7px;
  color: #555;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.mainSwiper .slide01 .name-title-wrap .name-box .name-text {
  width: 153px;
  height: 43px;
  color: #555;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.mainSwiper .slide01 .location-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.mainSwiper .slide01 .location-wrap .location-date {
  color: #555;
  text-align: center;
  font-family: 'Cormorant SC';
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.mainSwiper .slide01 .location-wrap .location-text {
  color: #555;
  text-align: center;
  font-family: 'Cormorant SC';
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.mainSwiper .slide01 .location-wrap .location-line {
  display: inline-block;
  width: 230px;
  height: 1px;
  margin: 6px 0;
  background: #ddd;
}

.mainSwiper .route-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 10px;
  gap: 12px;
}

.mainSwiper .route-wrap .route-box{
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
}

.mainSwiper .route-wrap .route-box .route-title{
  font-weight: 700;
}

.mainSwiper .route-wrap .route-box .route-text{
  line-height: 150%;
  font-weight: 400;
}

.mainSwiper .route-wrap .route-box .route-text.small{
  font-size: 10px;
}

.mainSwiper .arrow-right {
  position: absolute;
  bottom: 32px;
  right: 17px;
  width: 100px;
  height: 30px;
  background: url('./imgs/arrow-right.svg') center no-repeat;
  z-index: 999;
}

.mainSwiper .arrow-left {
  position: absolute;
  bottom: 32px;
  left: 17px;
  width: 100px;
  height: 30px;
  background: url('./imgs/arrow-left.svg') center no-repeat;
  z-index: 999;
}

.mainSwiper .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}

.mainSwiper .intro-parents-text {
  position: absolute;
  bottom: calc(26.8% + 70px);
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.mainSwiper .intro-name {
  position: absolute;
  bottom: 26.8%;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mainSwiper .slide03 .intro-parents-text,
.mainSwiper .slide03 .intro-name {
  color: #fff;
}

.slide02 .background {
  background-image: url('./imgs/bride.png');
}

.slide03 .background {
  background-image: url('./imgs/groom.png');
}

.slide04,
.slide05,
.slide06,
.slide07 {
  background: #e1e6e9;
}

.slide04 .invite-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 583px;
  background-image: url('./imgs/invite-background.png');
  background-size: cover;
  z-index: -1;
}

.slide04 .invite-text {
  color: #555;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.slide04 .invite-text.poem01 {
  margin-top: 50px;
}
.slide04 .invite-text.poem02 {
  margin-top: 16px;
}

.slide05 h3,
.slide06 h3,
.slide07 h3 {
  margin-top: 72px;
  color: #555;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slide07 .contact-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slide07 .contact-wrap h5 {
  margin-top: 31px;
  color: #555;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slide07 .contact-wrap .main-contact-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;
}

.slide07 .contact-wrap .main-contact-wrap .name {
  color: #555;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slide07 .contact-wrap .parent-contact-wrap {
  display: flex;
  width: 100%;
  margin-top: 31px;
}

.slide07 .contact-wrap .parent-contact-wrap .parent-contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.slide07 .contact-wrap .parent-contact-wrap .name {
  color: #555;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slide07 .contact-wrap .account,
.slide07 .contact-wrap a {
  color: #555;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.slide07 .contact-wrap a {
  text-decoration: none;
}

.photoSwiper {
  width: 100%;
  height: 100%;
}

.arrow-down {
  position: absolute;
  bottom: 7.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 132px;
  height: 26px;
  background-image: url('./imgs/gallery-arrow-down.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow-up {
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 132px;
  height: 26px;
  background-image: url('./imgs/gallery-arrow-up.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.photo01 {
  background-image: url('./imgs/gallery-main.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.photo01 h4 {
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translateX(-50%);
  color: #727272;
  text-align: center;
  font-family: 'Cormorant SC';
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
}

.photo01 .arrow-down {
  bottom: 10.7%;
}

.gallery-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 60px);
  transform: translate(-50%, -50%);
  aspect-ratio: 334/500;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo02 .gallery-photo {
  background-image: url('./imgs/IMG_0910.png');
}
.photo03 .gallery-photo {
  background-image: url('./imgs/IMG_0059.jpeg');
}


.photo04 .gallery-photo {
  background-image: url('./imgs/IMG_0110.png');
}

.photo05 .gallery-photo {
  background-image: url('./imgs/IMG_0143.png');
}

.photo06 .gallery-photo {
  background-image: url('./imgs/IMG_0164.png');
}

.photo07 .gallery-photo {
  background-image: url('./imgs/IMG_0172.png');
}

.photo08 .gallery-photo {
  background-image: url('./imgs/IMG_0213.png');
}

.photo09 .gallery-photo {
  background-image: url('./imgs/IMG_0230.png');
}

.photo10 .gallery-photo {
  background-image: url('./imgs/IMG_0262.png');
}
.photo11 .gallery-photo {
  background-image: url('./imgs/IMG_0280.jpeg');
}
.photo13 .gallery-photo {
  background-image: url('./imgs/IMG_0333.png');
}
.photo14 .gallery-photo {
  background-image: url('./imgs/IMG_0373.png');
}
.photo15 .gallery-photo {
  background-image: url('./imgs/IMG_0492.png');
}
.photo16 .gallery-photo {
  background-image: url('./imgs/IMG_0560.png');
}
.photo17 .gallery-photo {
  background-image: url('./imgs/IMG_0536.png');
}
.photo18 .gallery-photo {
  background-image: url('./imgs/IMG_0575.png');
}
.photo19 .gallery-photo {
  background-image: url('./imgs/IMG_0675.png');
}
.photo20 .gallery-photo {
  background-image: url('./imgs/IMG_0708.png');
}
.photo21 .gallery-photo {
  background-image: url('./imgs/IMG_0739.png');
}
.photo22 .gallery-photo {
  background-image: url('./imgs/IMG_0783.png');
}
.photo23 .gallery-photo {
  background-image: url('./imgs/IMG_0814.png');
}
.photo24 .gallery-photo {
  background-image: url('./imgs/IMG_0830.jpeg');
}
.photo25 .gallery-photo {
  background-image: url('./imgs/IMG_0850.png');
}
.photo27 .gallery-photo {
  background-image: url('./imgs/img719.png');
}

.map-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px);
  padding: 0 20px;
  margin-top: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 40px);
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, #ff7d7d);
}

@media screen and (max-width: 394px) {
  main {
    width: 100vw;
    height: 100vh;
  }
  .mainSwiper {
    width: 100vh;
    height: 100vh;
  }

  .mainSwiper .slide01 .main-content-wrap{
    padding-top: 40px;
  }

  .slide04 .invite-background {
    bottom: -20%;
  }

  .slide07 .contact-wrap .main-contact-wrap .name {
    color: #555;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .slide07 .contact-wrap .parent-contact-wrap .name {
    color: #555;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
